body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #ffffff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content section */

.main-content-section {
  padding: 100px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* about me section */

.about-me-section {
  margin: 0 0 40px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 20px 0;
}

.my-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 25px 0;
}

.about-me-description {
  width: 550px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* my project section */

.my-projects-section {
  margin-bottom: 50px;
}

.my-projects-list {
  padding: 0 0 0 16px;
}

.my-projects-item {
  font-weight: bold;
  color: #000000;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* my work expirience */

.my-work-company {
  margin: 0 15px 0 0;
}

.my-work-expirience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 0 0 10px 0;
}

.my-work-expirience-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}

.my-work-expirience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-work-expirience-divider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.my-work-expirience-duties {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding: 0 0 0 18px;
}

.my-work-expirience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* education section */

.my-education-place {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}

.my-education-direction {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}

.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-education-divider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

/* sidebar section */

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.my-photo {
  width: 370px;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-title-contacts {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 8px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: -8px;
}

/* contacts section */

.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 7px;
}
.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8b9099;
  padding: 0 0 0 12px;
}

/* tech skills section */

.tech-skills-list {
  padding: 0 0 0 17px;
}

.tech-skills-item {
  color: #fb6d3a;
}

.tech-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/* soft skills section */

.soft-skills-list {
  padding: 0 0 0 17px;
}

.soft-skills-item {
  color: #fb6d3a;
}

.soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
